[submodule "vim-tmux-navigator"]
	path = vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "vim-gitgutter"]
	path = vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
[submodule "vim-floaterm"]
	path = vim-floaterm
	url = https://github.com/voldikss/vim-floaterm.git
[submodule "nerdtree"]
	path = nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "fugitive"]
	path = fugitive
	url = https://tpope.io/vim/fugitive.git
